<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @movie.title %>
</p>

<p>
  <img src=<%= @movie.poster %>
</p>

<p>
  <strong>Description:</strong>
  <%= @movie.description %>
</p>

<p>
  <strong>Year:</strong>
  <%= @movie.year %>
</p>

<%= link_to 'Edytuj', edit_movie_path(@movie) %> |
<%= link_to 'Powrót', movies_path %>
